* {
  padding: 0px;
  margin: 0px;
  font-size:30px;
  line-height: 1em;
  }

  body {
    margin: auto;
    background: #F3F3F3;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #monogramlogo {
    margin-left: 50px;
    margin-top: 20px;
  }

  /*NAVIGATION*/

  div#logo h1 {display: none;
   margin-left: 50px;
  }


  div#navigation {
     display: grid;
     grid-template-columns: 15% 85%;
   }

   div#navigation ul {
     text-align: right;
     padding-top: 40px;
     margin-right: 50px;
  }

   div#navigation ul li{
     display: inline-block;
     margin-left: 1em;

  }

  div#navigation ul li a{
   text-decoration: none;
     color: #404040;
  font-weight: 300;
  font-size: 35px;
  }

  #navigation a:hover {
   color:#DCBF7B;
  }


  h1 {
    margin-top:-1%;
    padding-top: 30px;
    font-size: 50px;
    font-weight:400;
    text-align: center;
    padding-bottom: 30px;
    color: #f3f3f3;
    background-color: #404040;
  }

  h2{
    font-size: 40px;
    font-weight:300;
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
    color: #BABABA;
  }

    h3{
      font-size: 35px;
      font-weight:300;
      text-align: left;
      margin-left:5%;
      margin-right:5%;
      margin-top:20px;
    }

      h4{
        font-size: 30px;
        font-weight:300;
        text-align: left;
        color:#DCBF7B;
        margin-left:5%;
        margin-right:5%;
        margin-top:20px;
        margin-bottom:20px;
      }

      h5{
        font-size: 25px;
        font-weight:300;
        text-align: left;
        color:#404040;
        margin-left:5%;
        margin-right:5%;
        margin-top:20px;
        margin-bottom:40px;
      }

  p { font-size: 25px;
    font-weight:400;
    text-align: left;
  line-height: 35.5px;
  margin-left:5%;
  margin-right:5%;}

  /* IMAGES */
img {max-width:100%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.brandingcasestudyimg1 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "monogramdrafts1 monogramdrafts2 monogramdrafts3 monogramdrafts4 monogramdrafts5";
    margin-left: 10%;
    margin-right: 10%;
  }

  .brandingcasestudyimg2 {
      display: grid;
      grid-template-columns:  1fr 1fr 1fr;
      grid-template-areas: "oldmonogram blackmonogram monogrambrand";
    }

/* MONOGRAM */
  .monogrambrand img {
    margin-left:0%;
    height:20%;
  }

  .blackmonogram img {
    margin-left: 10%;
  }

  .oldmonogram img{
    height:20%;
    margin-left: 15%;
  }

/* WORDMARK */
  .wordmarqueimg {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: "wordmarquesketches wordmarque";
  }

  .wordmarquesketches img{
    margin-left: 15%;
  }

.wordmarque img {
  margin-top:40%;
}

/* VISUAL MARK */

.visualmarkpics {display: grid;
grid-template-columns:  1fr 1fr;
grid-template-areas: "visualmarqueinspo visualmarquesketches"
"visualmarqueblack visualmarque";}

.visualmarqueinspo img{margin-left: 20%;
margin-top: 10%;}

.visualmarquesketches img {margin-top: 10%;}

.visualmarqueblack img {margin-left: 20%;
margin-top: -6%;}

.visualmarque img {margin-top: -6%;}




.view {display: grid;
grid-template-columns:  1fr 1fr;
grid-template-areas: "branding circleme";}

.link1{
  font-size: 50px;
  font-weight:400;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #404040;
}

.link2 {font-size: 50px;
font-weight:400;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
color: #404040;}

a {font-size: 50px;
font-weight:400;
text-align: center;
padding-top: 50px;
padding-bottom: 10px;
color: #404040;
text-decoration: none;}

a:hover {
  color: #DCBF7B;
  text-decoration: none;
}
