/* ------ CSS RESET ------*/

* {
  padding: 0;
  margin: 0;
  font-size:20px;
  line-height: 1em;
  }

/*----- MAIN STYLING -----*/

  body {
    width: 75%;
    max-width: 670px;
    margin: auto;
    background-image: url("gridpaper.gif");
    background-position: 50% 0.1%;
    color: #333;
    font-family:'Open Sans', sans-serif;
  }

.container {
  width: 80%;
  padding: 0 10%;
  background: white;

}

/*----- TYPOGRAPHY -----*/

h1 {
  font-size:25px;
  margin-top: 10px;
  padding-top: 10px;
  line-height: 1.5;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 2px darkgrey;
}

h2 {
  font-size:20px;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 50px;
}

h3 {
  font-size:17px;
  margin-top:10px;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: normal;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: normal;
  width:490px;
  text-align: left;
  margin-left: 0px;
  font-size: 15px;
}

i {
  font-size: 15px;
}

b {
  font-size: 15px;
}

/* BLOCKQUOTE */

blockquote {
  font-size:20px;
  color: darkgrey;
  margin-bottom: 0.5em;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 15px;
}

cite{
  color: darkgrey;
  font-size: 20px;
  margin-bottom: 0.5em;
}

/*----- IMAGES -----*/
img {
  margin: 0.5em auto;
  max-width: 20%;
  display: inline;
}
/*----- NAVIGATION -----*/

nav {
  /*position: absolute;*/
  /* top: 115px; */
  left: 0px;
  width: 90%;
  background-color: darkgrey;
  padding: 20px;
  margin-top: 50px;
  /* margin-left: 290px; */
  /* margin-right: 190px; */
}

nav ul {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li{
  display: inline;
  margin: 20px;
}

nav a:link {
  color:#fafafa;
  font-size: 15px;
  display: block;
  text-align: center;
}

nav a:visited {color: rgba(218, 63, 62, 100)}

Nav a:hover {border-bottom: none; color: black;}

/*----- FOOTER -----*/

footer {
  text-align:center;
  font-size: 15px;
  line-height: 1.5em;
}

.connections {
     position: relative;
     margin: 0 auto;
     text-align: center;
}

.connections ul{
  margin:0;
  padding:0;
}

.connections li{
  margin:0 15px;
  padding:0;
  list-style: none;
  display: inline-block;
}

.connections img {
  opacity:0.5;
  border: none;
  max-width: 30px;
}

.connections a:hover img {
  opacity: 1.0;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  transform:scale(1.1);
}

hr {
  margin: 1em 0;
  height: 1px;
  background-color: rgba(218, 63, 62, 100);
  color: rgba(218, 63, 62, 100);
  border: 0 none;
}

.bibliography-container ul li a {
  font-size: 15px;
}

.image-align {
  text-align: center;
}
