/* ------ CSS RESET ------*/

* {
  padding: 0;
  margin: 0;
  font-size:20px;
  line-height: 1em;
  }

/*----- MAIN STYLING -----*/

  body {
    width: 75%;
    max-width: 670px;
    margin: auto;
    background-image: url("rectanglebackground.gif");
    background-position: 50% 0.1%;
    color: #333;
    font-family:'Open Sans', sans-serif;
  }

/*----- TYPOGRAPHY -----*/

h1 {
  font-size:25px;
  margin-top: 10px;
  padding-top: 10px;
  line-height: 1.5;
  font-weight: normal;
}

h2 {
  font-size:20px;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 102px;
}

h3 {
  font-size:17px;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 0px;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 5px;
  width:400px;
  text-align: left;
  margin-left: 0px;
  font-size: 15px;
}

i {
  font-size: 15px;
}

b {
  font-size: 15px;
}

blockquote {
  font-size:20px;
  color: darkgrey;
  margin-bottom: 1.5em;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 15px;
}

/*----- IMAGES -----*/
img {
  display: block;
  margin: 0.5em auto;
  max-width: 20%
}
/*----- NAVIGATION -----*/

nav {
  position: absolute;
  top: 105px;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: darkgrey;
  padding: 1em 0;
  font-size: 0.5em;
}

nav ul {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li{
  display: inline;
  margin: 20px
}

nav a:link {
  color:#fafafa;
  font-size: 15px;
}

nav a:visited {color: rgba(218, 63, 62, 100)}

Nav a:hover {border-bottom: none; color: black;}

/*----- FOOTER -----*/

footer {
  text-align:center;
  font-size: 15px;
  line-height: 1.5em;
}

.connections {
     position: relative;
     margin: 0 auto;
}

.connections ul{
  margin:0;
  padding:0;
}

.connections li{
  margin:0 15px;
  padding:0;
  list-style: none;
  display: inline-block;
}

.connections img {
  opacity:0.5;
  border: none;
  max-width: 30px;
}

.connections a:hover img {
  opacity: 1.0;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  transform:scale(1.1);
}

hr {
  margin: 1em 0;
  height: 1px;
  background-color: rgba(218, 63, 62, 100);
  color: rgba(218, 63, 62, 100);
  border: 0 none;
}
