/* ------ CSS RESET ------*/

* {
  padding: 0px;
  margin: 0;
  font-size:30px;
  line-height: 1em;
  }

/*GRID*/

 #container {
  max-width: 1418px;
  background-color: #fff;
  padding: 80px;
  margin: 2% auto;
  box-shadow: 0px 0px 2px 2px #ccc;

}
/**

#intro{
  display:grid;
  grid-template-columns: 50% 50%;}

**/

/*----- MAIN STYLING -----*/
body {
  background-image: url("belfastcitybackgroundwesbite.gif");
}

/*TYPOGRAPHY*/
#home {
  font-size: 90px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:150px;
}

#bio {
  font-size: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

#morebio {
  font-size: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

body {
  margin: auto;
  background: #F3F3F3;
  font-family: 'Source Sans Pro', sans-serif;
}

.wordmarque {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 599px;
    height: 50%;
    margin-top:170px;
}

.monogram {
margin-bottom: 300px;
position: fixed;
}

#UIDesigner {
  margin-left: 458px;
  font-size: 30px;
  margin-top: 0px;
  color:#404040;
}

.illustrationofme {
display:block;
margin-left: 900px;
position: center;
width: 600px;
height: 600px;
margin-bottom: 200px;
}

/*NAVIGATION*/

div#logo h1 {display: none;}

div#navigation{
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 15% 85%;

  }

  div#navigation ul {
    text-align: right;


}

  div#navigation ul li{
    display: inline-block;
    margin-left: 1em;
}

div#navigation ul li a{
  text-decoration: none;
    color: #404040;
}

#navigation a:hover {
  color:#DCBF7B;
}
  /*images*/

img{
  max-width: 100%;
}

/*PORTFOLIO*/

#portfolio {
  display:grid;
  grid-template-columns: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
}

#down {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
}

#travel  {
grid-column:2/5;
}

#wallpapers {
  grid-column: 6/11;
}

#laptop {
  grid-column:6/11;
}

#josef {
grid-column: 2/5;
}

#branding {
  grid-column: 6/8;
}

#specimen {
  grid-column:9/11;
}
/*--footer ---*/

hr {
  margin: 1em 0;
  height: 1px;
  background-color: rgba(218, 63, 62, 100);
  color: rgba(218, 63, 62, 100);
  border: 0 none;
}

.item2 {
  grid-column: 7/11;
}
