/* ------ CSS RESET ------*/

* {
  width:500px;
  margin: auto;
  }

/*----- VERSION 1-----*/

.Version-1 {
       background:#fafafa;
       color:black;
       font-family: 'Libre Baskerville', serif;
       font-size:16px;
       font-weight:normal;
       line-height: 1.6em;
 }

/*----- TYPOGRAPHY -----*/

h3 {
   padding: 5px;
   font-weight: normal;
   text-align: left;
   font-size: 1.000em;
   margin-top:auto;
   margin-bottom: auto;
 }

h1 {
  font-weight: normal;
  text-align: left;
  font-size:3.998em;
}

h2 {
  font-weight: normal;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  padding: 15px;
}

.baskerville {
  font-size: 17px;
  padding: 10px;
  line-height: 18pt;
}
p {
  font-size: 15px;
  padding: 10px;
  line-height: 15pt;
}

.first-letter {
  font-size   : 3.26em;
  line-height : 0.5;
  margin      : 0
}

/*>>> BLOCKQUOTE <<<*/

blockquote {
  hanging-punctuation: first;
  text-indent: -0.01em;
  color: rgba(94, 94, 94, 100);
  line-height: 20pt;
  font-style: italic;
  font-size:20px;
  padding:15px;
}

cite {
  font-size:13px;
  line-height: 20pt;
  color: rgba(94, 94, 94, 100);
  padding:10px;
}

/*----- FOOTER -----*/

hr {
  margin: 1em 0;
  height: 1px;
  background-color: red;
  color: red;
  border: 0 none;
}

/*----- VERSION 2 -----*/
.Version-2 {
       background:#fafafa;
       color:black;
       font-family: 'Arvo', serif;
       font-size:16px;
       font-weight:normal;
       line-height: 1.6em;
 }
